<!doctype html>
<html ng-app="root_module">
    <head>
        <meta charset="utf-8" />
        <title id="my_title">Hello AngularJS</title>
        <link href="../style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        
        <div ng-controller="personController">
            <table>
                <tr>
                    <th ng-repeat="head in markus.headers" ng-if="!$first">{{head}}</th>
                </tr>
                <tr ng-repeat="data in markus.actual_data">
                    <td>{{data.name}}</td>
                    <td>{{data.address}}</td>
                    <td>{{data.age}}</td>
                </tr>
            </table>
            
            <ul>
                <li ng-repeat="data in markus.actual_data">
                    {{data.name}}, {{data.address}}, {{data.age}}
                </li>
            </ul>
        </div>
        
        <input type="text" ng-model="person_name">
        <br />
        <p>You typed: {{person_name}}</p>
        
        <script src="../lib/jquery-2.1.4.js"></script>
        <script src="../lib/angular.min.js"></script>
        <script src="../lib/angular-route.min.js"</script>
        <script src="../scr/example_module.js"></script>
    </body>
</html>