<!doctype html>
<html ng-app="root_module">
    <head>
        <meta charset="utf-8" />
        <title id="my_title">Hello AngularJS</title>
        <link href="../style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <!-- This is a placeholder for our angular appv view -->
        <div ng-view></div>
        
        <script src="../lib/jquery-2.1.4.js"></script>
        <script src="../lib/angular.min.js"></script>
        <script src="../lib/angular-route.min.js"></script>
        <script src="../lib/angular-resource.js"></script>
        <script src="../scr/example_module.js"></script>
    </body>
</html>