<!--
<form>
    <input type="text" name="usename" placeholder="Enter username" ng-model="login.username" /><br />
    <input type="password" name="password" placeholder="Enter password" ng-model="login.password" /><br />
    <br />
    <input type="button" value="Login" ng-click="login.login()" /><br />
    <input type="button" value="Register" ng-click="login.register()" /><br />
    <p class="error"></p>
</form>
-->
<form>
    <h4>Login / Regiser</h4>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Enter username" ng-model="login.username" /> <br />
    </div>
    <div class="form-group">
        <input class="form-control" type="password" placeholder="Enter password" ng-model="login.password" /> <br />
    </div>
    <input class="btn btn-default addPersonButton" type="button" value="Login" ng-click="login.login()" />
    <input class="btn btn-default addPersonButton" type="button" value="Register" ng-click="login.register()" />
    <p class="error"></p>
</form>