<div class="friends-table">
    <div class="center-link"><h4>List of your friends</h4></div>
    <table class="table table-hover noselect">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="per in person.data" ng-Dblclick="person.editPerson(per._id, per.name, per.address, per.age)">
                <td>{{per.name}}</td>
                <td>{{per.address}}</td>
                <td>{{per.age}}</td>
                <td><input type="button" value="Delete" ng-click="person.deletePerson(per._id)" /></td>
            </tr> 
        </tbody>
    </table>
    <div class="center-link"><a href="#/main">Show view 1</a></div>
</div>

<div class="darkOverlay">
    <form class="popup">
        <h4>Edit person</h4>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Name" ng-model="person.nameEdit" /> <br />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Address" ng-model="person.addressEdit" /> <br />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Age" ng-model="person.ageEdit" /> <br />
        </div>
        <input class="btn btn-default editPersonButton" type="button" value="Save changes" ng-click="person.saveEditedPerson()" />
        <input class="btn btn-default cancelEditButton" type="button" value="Cancel" ng-click="person.cancelEdit()" />
    </form>
</div>